.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 380px;
  max-width: 40vw;
  height: 100vh;
  border-radius: 12px;
}

.login h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  max-width: 280px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.boxLabel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxButton {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sendButton {
  width: 100%;
  max-width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-position 0.3s ease;
  background: linear-gradient(to right, transparent 50%, #ffbe00 50%);
  background-size: 200% 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 2px;
}

.sendButton:hover {
  background-position: -100% 0;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Adicionando media queries para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .main {
    padding: 1rem;
    max-width: 90vw;
  }

  .main h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .input {
    max-width: 100%;
  }

  .sendButton {
    max-width: 100%;
  }
  .boxButton {
    display: flex;
    flex-direction: column;
  }
}
